body {
  margin: 0;
  font-family: 'Press Start 2p', sans-serif;
}

canvas {
  width: 100%;
  height: 100%
}

.left-aside {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  font-size: 36px;
  margin: 30px 0 0 20px;
  font-weight: bold;
  z-index: 100;
}

.instructions-title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  width: 150px;
  line-height: 120%;
}

.instructions-text {
  color: #ffffff;
  font-size: 12px;
  margin-top: 20px;
  width: 150px;
  line-height: 130%;
}

.right-aside {
  position: absolute;
  top: 0;
  right: 0;
  color: #ffffff;
  font-size: 22px;
  margin: 40px 0px 0 0;
  font-weight: bold;
  z-index: 100;
}

.difficulty-buttons {
  position: absolute;
  bottom: -200px;
  left: 0;
}

#game-over-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 5px;
  border: 5px solid #000000;
  font-size: 32px;
  font-family: 'Press Start 2p', sans-serif;
  font-weight: bold;
  color: black;
  background: white;
  outline: 5px solid white;
}

.blink-me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.hide {
  display: none;
  visibility: hidden;
}

.score-title {
  font-size: 24px;

}

.scores-content {
  font-size: 18px;
  margin: 20px 10px 20px 0;
  text-align: right;
}

#game-level {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 38px;
}

.buttons-container {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(20%, -50%);
  margin-right: 0;
}

.button {
  margin-top: 15px;
  box-sizing: border-box;
  width: 75%;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  font-family: 'Press Start 2p', sans-serif;
  border: 2px solid #aaaaaa;
  cursor: pointer;
}

#mute-button {
  font-size: 18px;
}

.button:focus {
  outline:0;
}

.right-aside-bottom {
  position: absolute;
  right: 20px;
  bottom: 30px;
}

.fa {
  background-color: white;
  box-sizing: border-box;
  padding: 3px 4px 5px 6px;
  height: 53px;
  width: 53px;
  // font-size: 24px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: black;
}

.fa:hover, .button:hover {
  transform: scale(1.15);
}

.fa:hover {
  color: white;
  background-color: black;
}